# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build


app/build
app/bin
app/src/main/java/com/olucasfracaro/nasmEmu/*.asm

.vscode
.settings
app/.settings/
app/.classpath
app/.project